//////////////////////////////////////////////////
// Buttons and A elements
//////////////////////////////////////////////////

$button-type: primary $primary $primary-hover, secondary $secondary $secondary-hover, disabled $disabled $disabled-hover, alert $alert $alert-hover;

@mixin clickables() {
	// generating other buttons
	button, a.button, input[type=submit] {
		background: $primary;
		border: none;
		padding: $button-padding;
		font-size: $button-font-size;
		display: inline-block;
		border-radius: $button-border-radius;
		&:hover {
			background: $primary-hover;
		}
		&.tiny {
			padding: $button-padding;
			font-size: $button-font-size - .3em;
		}
		&.small {
			padding: $button-padding;
			font-size: $button-font-size - .2em;
		}
		&.large {
			padding: $button-padding + .4em;
			font-size: $button-font-size + .2em;
		}
		&.expand {
			width: 100%;
		}
		@each $type in $button-type {
			&.#{nth($type, 1)} {
				background: #{nth($type, 2)};
				&:hover {
					background: #{nth($type, 3)};
				}
			}
		}
	}
	a {
		color: $primary;
		text-decoration: none;
		&:visited {
			color: $primary;
		}
		&:hover {
			color: darken($primary, 10%);
		}
		@each $type in $button-type {
			&.#{nth($type, 1)} {
				color: #{nth($type, 2)};
				&:hover {
					background: #{nth($type, 3)};
				}
			}
		}
	}
}

@include clickables;

//////////////////////////////////////////////////
// Typography
//////////////////////////////////////////////////

// Fonts
$header-font: Helvetica;
$content-font: Times;
$font-size: 1em;

// H Elements
$h-default: 2em;

@mixin h-elements {
	@for $i from 1 through 6 {
		h#{$i}, .h#{$i} {
			font-family: $header-font;
			font-size: $h-default - ($i * .15);
		}
	}
}

@include h-elements;

// Paragraphs
$line-height: 1.5em;

p {
	font-family: $content-font;
	font-size: $font-size;
	line-height: $line-height;
}

//////////////////////////////////////////////////
// Nav Defaults
//////////////////////////////////////////////////

nav {
	ul {
		li {
			display: block;
			@media #{$medium} {
				display: inline-block;
			}
		}
	}
}