//////////////////////////////////////////////////
// Buttons and A elements
//////////////////////////////////////////////////

$button-type: primary $primary $primary-hover, secondary $secondary $secondary-hover, disabled $disabled $disabled-hover, alert $alert $alert-hover;

@mixin clickables() {
	// generating other buttons
	button, a.button, input[type=submit] {
		background: $primary;
		border: none;
		padding: $button-padding;
		font-size: $button-font-size;
		&:hover {
			background: $primary-hover;
		}
		&.tiny {
			padding: $button-padding - 4px;
			font-size: $button-font-size - 6px;
		}
		&.small {
			padding: $button-padding - 2px;
			font-size: $button-font-size - 4px;
		}
		&.large {
			padding: $button-padding + 4px;
			font-size: $button-font-size + 4px;
		}
		@each $type in $button-type {
			&.#{nth($type, 1)} {
				background: #{nth($type, 2)};
				&:hover {
					background: #{nth($type, 3)};
				}
			}
		}
	}
	a {
		color: $primary;
		text-decoration: none;
		&:visited {
			color: $primary;
		}
		&:hover {
			color: darken($primary, 10%);
		}
		@each $type in $button-type {
			&.#{nth($type, 1)} {
				color: #{nth($type, 2)};
				&:hover {
					background: #{nth($type, 3)};
				}
			}
		}
	}
}

@include clickables;

//////////////////////////////////////////////////
// Typography
//////////////////////////////////////////////////

// Fonts
$header-font: Helvetica;
$content-font: Times;
$font-size: 16px;

// H Elements
$h-default: 28px;

@mixin h-elements {
	@for $i from 1 through 6 {
		h#{$i}, .h#{$i} {
			font-family: $header-font;
			font-size: $h-default - ($i + $i);
		}
	}
}

@include h-elements;

// Paragraphs
p {
	font-family: $content-font;
	font-size: $font-size;
}