//////////////////////////////////////////////////
// Typography
//////////////////////////////////////////////////

$em-reset-screen: 16px !default;
$em-reset-medium: 18px !default;
$em-reset-large: 22px !default;

// em Reset
body {
	font-size: $em-reset-screen;
	@media #{$medium} {
		font-size: $em-reset-medium;
	}
	@media #{$large} {
		font-size: $em-reset-large;
	}
}

$import-default-fonts: true !default;

@if $import-default-fonts == true {
	@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Gentium+Book+Basic:400,700,400italic,700italic);
} 

// Font Families
$h-font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$content-font-family: "Gentium Book Basic", Times, serif !default;

// Font Sizes
$h-font-size: 2em !default;
$h-font-weight: 700 !default;
$content-font-size: 1em !default;
$content-font-weight: 300 !default;

@mixin h-elements {
	@for $i from 1 through 6 {
		h#{$i}, .h#{$i} {
			font-family: $h-font-family;
			font-size: $h-font-size - ($i * .15);
			font-weight: $h-font-weight;
			margin-top: 1em;
		}
	}
}

@include h-elements;

// Paragraphs
$line-height: 1.61803398875 !default;

p {
	font-family: $content-font-family;
	font-size: $content-font-size;
	font-weight: $content-font-weight;
	line-height: $line-height;
	margin: 1.5em 0;
}

// Lists
ul {
	margin-left: 1em;
	margin-top: 1.5em;
	li {
		line-height: 1.5em;
		list-style-type: disc;
		ul {
			margin-top: 0;
		}
	}
}
ol {
	margin-left: 1.4em;	
	li {
		line-height: 1.5em;
		list-style-type: decimal;
	}
}
dl {
	dd {
		margin-left: 1em;
		line-height: 1.5em;
		&:before {
			content: "- ";

		}
	}
}

//////////////////////////////////////////////////
// Nav Defaults
//////////////////////////////////////////////////

nav {
	ul {
		li {
			display: block;
			@media #{$medium} {
				display: inline-block;
			}
		}
	}
}

//////////////////////////////////////////////////
// Buttons and A elements
//////////////////////////////////////////////////

$primary: rgb(0, 0, 255) !default;
	$primary-hover: darken($primary, 10%) !default;
$secondary: rgb(173, 216, 230) !default;
	$secondary-hover: darken($secondary, 10%) !default;
$disabled: rgb(128, 128, 128) !default;
	$disabled-hover: darken($disabled, 10%) !default;
$alert: rgb(255, 0, 0) !default;
	$alert-hover: darken($alert, 10%) !default;

$button-type: primary $primary $primary-hover, secondary $secondary $secondary-hover, disabled $disabled $disabled-hover, alert $alert $alert-hover;

@mixin clickables() {
	// generating other buttons
	button, a.button, input[type=submit] {
		background: $primary;
		border: none;
		padding: $button-padding;
		font-size: $button-font-size;
		display: inline-block;
		border-radius: $button-border-radius;
		&:hover {
			background: $primary-hover;
		}
		&.tiny {
			padding: $button-padding;
			font-size: $button-font-size - .3em;
		}
		&.small {
			padding: $button-padding;
			font-size: $button-font-size - .2em;
		}
		&.large {
			padding: $button-padding + .4em;
			font-size: $button-font-size + .2em;
		}
		&.expand {
			width: 100%;
		}
		@each $type in $button-type {
			&.#{nth($type, 1)} {
				background: #{nth($type, 2)};
				&:hover {
					background: #{nth($type, 3)};
				}
			}
		}
	}
	a {
		color: $primary;
		text-decoration: none;
		&:visited {
			color: $primary;
		}
		&:hover {
			color: darken($primary, 10%);
		}
		@each $type in $button-type {
			&.#{nth($type, 1)} {
				color: #{nth($type, 2)};
				&:hover {
					background: #{nth($type, 3)};
				}
			}
		}
	}
}

@include clickables;