@mixin transition($duration: 0.5s) {
	transition: color $duration, height $duration, transform $duration;
		-webkit-transition: color $duration, height $duration, -webkit-transform $duration;
		-moz-transition: color $duration, height $duration, -moz-transform $duration;
}

body {
	background: whitesmoke url('/images/bg.png');
	margin-top: 50px;
	@media #{$medium}, #{$large} {
		margin-top: 75px;
	}
	header {
		&#header {
			position: fixed;
			height: 50px;
			padding: 15px 0;
			width: 100%;
			background: rgba(255, 255, 255, 0.95);
			top: 0;
			z-index: 1000;
			overflow: hidden;
			@include transition;
			@media #{$medium}, #{$large} {
				height: 75px;
				padding: 16px 0;
			}
			.ph-arrow-down {
				position: fixed;
				top: 16px;
				right: 26px;
				z-index: 9999;
				@media #{$medium}, #{$large} {
					display: none;
				}
			}
			nav {
				ul {
					margin: 0;
					li {
						color: red;

					}
					.mobile-logo {
						color: #323232;
						@media #{$medium}, #{$large} {
							display: none;
						}
					}
					.logo {
						color: #323232;
						font-size: 1.4em;
						display: none;
						@media #{$medium}, #{$large} {
							display: inline-block;
						}
					}
				}
			}
		}
	}
	.content {
		
		.post {
			margin-bottom: 3em;
		}
	}
}

.banner {
	margin-bottom: 1em;
	img {
		max-width: 100%;
		width: 100%;
		display: block;
	}
}

.demo {
	.row {
		margin: .2em auto;
		.columns {
			background: #efefef;
			border: 1px solid #aaa;
			border-radius: $button-border-radius;
			color: #777;
			padding: .5em;
		}
	}
}