body {

}

p {
	
}

button, a.button, input[type=submit] {

}

.banner {
	margin-bottom: 1em;
	img {
		max-width: 100%;
		width: 100%;
		display: block;
	}
}

.demo {
	.row {
		margin: .5em auto;
		.columns {
			background: #efefef;
			border: 1px solid #aaa;
		}
	}
}