body {

}

p {
	
}

button, a.button, input[type=submit] {

}

.banner {
	margin-bottom: 1em;
	img {
		max-width: 100%;
		width: 100%;
		display: block;
	}
}

.demo {
	.row {
		margin: .2em auto;
		.columns {
			background: #efefef;
			border: 1px solid #aaa;
			color: #777;
			// border-right: none;
			padding: .5em;
			&:last-child {
				// border-right: 1px solid #aaa;
			}
		}
	}
}