// Button/Link Colors - PLEASE USE HEX OR RGB
$primary: rgb(0, 0, 255);
$secondary: rgb(173, 216, 230);
$disabled: rgb(128, 128, 128);
$alert: rgb(255, 0, 0);

// Button Padding/Font Sizes
$button-padding: 8px;
$button-font-size: 16px;