<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/app.css">

    </head>
    <body>
      <div class="row full-width collapse nav text-center"><!--nav wrapper-->
        <div class="small-12 columns">
          <header id="header">
            <i class="ph-arrow-down menu-toggle"></i>
            <nav>
              <ul>
                <li class="mobile-logo">{{#linkTo 'index'}}<i class="ph-posthuman_text"></i>{{/linkTo}}</li>
                <li>{{#linkTo 'posts'}}Posts{{/linkTo}}</li>
                <li>{{#linkTo 'tags'}}Tags{{/linkTo}}</li>
                <li class="logo">{{#linkTo 'index'}}<i class="ph-posthuman_text"></i>{{/linkTo}}</li>
                <li>{{#linkTo 'about'}}About{{/linkTo}}</li>
                <li>{{#linkTo 'search'}}Search{{/linkTo}}</li>
              </ul>
            </nav>
          </header>
        </div>
      </div><!--end nav wrapper row-->
      <div class="row full-width collapse">
        <div class="content">
          {{ content }}
        </div>
      </div>
    </body>
</html>
